html {
    background: #0E3741;
  }

  body{
    margin: 0px;
  }

  /* CURSOR */
  .cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
  }

  #circle {
    /* transition: transform 0.3s; */
    width: 10px;
    height: 10px;
    background: #CB4B16;
    border-radius: 80%;
  }

  #expand {
    visibility: hidden;
    display: none;
    transform: scale(0);
    /* transition: transform 0.3s, display 0.3s; */
    backdrop-filter: blur(2px);
    background-color: rgba(54, 59, 63, 0.5);
    border-style: none;
    /* border-color: white; */
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 25px;
    margin-top: -5px;
    font-size: 12px;
    padding-left: 20px;
  }

  #expand::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px; /* Adjust the left position for the circle */
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
  }

  .hover-image {
    /* width: 50vw; */
    /* margin: 20px; */
    overflow: hidden;
  }

  .wrapper {
    /* overflow-x: hidden; */
    position: relative;
}


.container {
  display: flex;
  width: 600vw;

  .text {
      display: flex;
      gap: 3em;
      
      p {
          font-size: .8rem;
      }
  }
}

  /* section {
      width: 100vw;
      padding: 20vw 0vw;

      h1 {
          font-size: 3rem;
          margin: 0;
      }

      p {
          font-size: 1.2rem;
          width: 50vw;
      }

      ul {
          list-style-type: none;
          display: flex;
          gap: 3em;
          width: 100%;
          height: 300px;
          padding: 0;

          li {
              background: white;
              border-radius: .3em;
              flex-grow: 1;
          }
      }

  }
} */

section {
  width: 100vw;
  height: 100vh;
}

#sec1 {
  background-image: url('assets/2560x1920/2560x1920_cg2023rzv - edited-01.jpg');
  background-position: center;
  background-size: cover;
  /* background-color: pink; */
  width: 100vw;
}

#sec2 {
  background-color: rgb(247,244,239);
  width: 33vw;
}

#sec3 {
  background-color:#0E3741;
  /* display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
}

/* .sec3_img_wrap{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 100%;
    }
    
  .div1 { grid-area: 7 / 5 / 10 / 9;
          display: flex;
          justify-content: center;
  }
  .div2 { grid-area: 2 / 5 / 5 / 9; 
          display: flex;
          justify-content: center;

  }
  .div3 { grid-area: 3 / 1 / 9 / 5; 
          display: flex;

  }
  .div4 { grid-area: 3 / 9 / 9 / 13; 
          display: flex;

  } */

  .sec3_img_wrap{  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        ". . . div3 div3 div3 div3 div3"
        "div1 div1 div1 div3 div3 div3 div3 div3"
        "div1 div1 div1 . . . . ."
        "div1 div1 div1 . div4 div4 div4 div4"
        "div1 div1 div1 . div4 div4 div4 div4"
        ". . div2 div2 div4 div4 div4 div4"
        ". . div2 div2 . . . ."
        ". . div2 div2 . . . .";
        max-height: 100vh ;
    }
    
    .div1 { grid-area: div1; }

    .div1 > img{
      object-fit: cover;
      width:100%;
      max-height: 100%;
    }
    
    .div2 { grid-area: div2; }

    .div2 > img{
      object-fit: cover;
      width:100%;
      max-height: 100%;
    }
    
    .div3 { grid-area: div3; }

    .div3 > img{
      object-fit: cover;
      width:100%;
      max-height: 100%;
    }
    
    .div4 { grid-area: div4; }

    .div4 > img{
      object-fit: cover;
      width:100%;
      max-height: 100%;
    }
    
  


#sec4 {
  background-color: rgb(200,142,87);
}

#sec5 {
  background-color: rgb(87, 200, 162);
  width: 33vw
}

#sec6{
  background-color:beige
}

#sec7{
  width: 134vw;
  height: 120vh;
}